/* CSS HEX
--cafe-au-lait: #aa7c4bff;
--papaya-whip: #fff0d2ff;
--cafe-noir: #56482fff;
--castleton-green: #205a3eff;
--golden-brown: #956323ff;
--dark-jungle-green: #011412ff;
 */



body{
    
    
}
