/* CSS HEX
--cafe-au-lait: #AA7C4B;
--papaya-whip: #FFF0D2;
--cafe-noir: #56482F;
--castleton-green: #205A3E;
--golden-brown: #956323;
--dark-jungle-green: #011412;
 */
 *{
    padding: 0;
    margin: 0;
  }
body{
    display: flex;
    flex-direction: column;
    flex-flow: row;
    color: #011412;
    font-size: 12px;
    min-height: 100vh;
    width: 100%;
  }  

  /* header*/
  header, footer{
    background-color: #205A3E;
    color: #F011412;
   
  }
  .projects{
    background-color: #56482F;
    color: #FFF0D2;
  }

  .work-experience{
    background-color: #AA7C4B;
    color: #;
  }
  .education{
    background-color: #656B45;
    color: #FFF0D2;
  }

    /*footer*/
    #footnotes{
      display: flex;
      margin-top: auto;
      font-size: 8px;
     }
