/* CSS HEX
--cafe-au-lait: #aa7c4bff;
--papaya-whip: #fff0d2ff;
--cafe-noir: #56482fff;
--castleton-green: #205a3eff;
--golden-brown: #956323ff;
--dark-jungle-green: #011412ff;
 */
 *{
    padding: 0;
    margin: 0;
  }
body{
    display: flex;
    flex-direction: column;
    color: #011412;
    font-size: 12px;
    min-height: 100vh;
    width: 100%;
  }  

    /*footer*/
    #footnotes{
      display: flex;
      margin-top: auto;
      font-size: 8px;
     }
